---
import Picture from "~/components/core/Picture.astro";
---

<div
  class="w-full border border-gray-100/40 rounded-md flex flex-col px-5 pt-5 justify-between overflow-hidden dark:border-gray-600 sm:flex-row sm:gap-4 sm:p-0 sm:pl-8 sm:items-center dark:bg-gray-800"
>
  <div class="flex flex-col gap-8 py-5">
    <div class="flex flex-col gap-4">
      <h3 class="text-3xl font-semibold dark:text-gray-100">
        Equipped Youth Manual
      </h3>
      <p class="text-sm text-gray-400 max-w-md dark:text-gray-300">
        Web app that offers resources for Christian youth to strengthen their
        faith and grow spiritually.
      </p>
    </div>
    <!-- <a
      href="#"
      class="border border-gray-100 from-gray-100 to-white rounded-md text-sm text-gray-700 px-6 py-1.5 w-fit dark:text-gray-200"
      >View Case Study</a
    > -->
    <a
      href="https://realiveyouth.netlify.app/"
      target="_blank"
      rel="noopener noreferrer"
      class="border border-gray-100 from-gray-100 to-white rounded-md text-sm text-gray-700 px-6 py-1.5 w-fit dark:text-gray-200 dark:bg-gray-700 dark:border-gray-600"
      >View Site</a
    >
  </div>
  <Picture
    src={import(
      "~/assets/images/designs/equipped-youth-manual/mobile-mockup.jpg"
    )}
    widths={[720]}
    class="bg-gray-400 dark:bg-gray-700 w-full h-full sm:w-[350px]"
    aspectRatio="16:10"
    alt="Equipped Youth Manual on iPhone"
  />
</div>
