---
import { AstroSeo } from "@astrolib/seo";
import { Container, Flex, Heading, Link } from "@radix-ui/themes";

import BentoGrid from "@/components/home/BentoGrid.astro";
import ContactSection from "@/components/home/ContactSection.astro";
import MovingCards from "@/components/home/MovingCards.astro";
import BlurIn from "@/components/ui/blur-in";
import { Spotlight } from "@/components/ui/spotlight";
import { ThemeSwitcher } from "@/components/ui/theme-switcher";

import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Joshua Booth | UI Engineer";
---

<AstroSeo
  title={pageTitle}
  description="UI Engineer crafting web applications and design systems. Focused on clean code and intuitive interfaces. Based in Auckland, New Zealand."
  canonical="https://joshuabooth.nz/"
  openGraph={{
    url: "https://joshuabooth.nz/",
    title: pageTitle,
    description:
      "UI Engineer crafting web applications and design systems. Focused on clean code and intuitive interfaces. Based in Auckland, New Zealand.",
    images: [
      {
        url: "https://joshuabooth.nz/images/og-image.jpg",
        width: 1200,
        height: 630,
        alt: "Joshua Booth - UI Engineer",
      },
    ],
    site_name: "Joshua Booth",
  }}
  twitter={{
    handle: "@joshuaboothnz",
    site: "@joshuaboothnz",
    cardType: "summary_large_image",
  }}
/>

<BaseLayout>
  <header slot="header" class="absolute z-20 w-full">
    <Container size="4" px="8" py="4">
      <Flex direction="row" align="center" justify="between">
        <Link href="/" color="gray">
          <Heading as="h1">Joshua Booth</Heading>
        </Link>
        <Flex gap="6" align="center">
          <Link
            href="#contact"
            size="2"
            color="gray"
            className="hidden [@media(min-width:380px)]:block"
          >
            Contact
          </Link>
          <ThemeSwitcher client:idle />
        </Flex>
      </Flex>
    </Container>
  </header>

  <div
    class="relative flex h-[32rem] w-full items-center overflow-hidden rounded-md antialiased bg-grid-black/[0.02] dark:bg-grid-white/[0.02] md:h-[40rem] md:justify-center"
  >
    <Spotlight
      className="-top-40 left-0 hidden dark:block md:-top-20 md:left-60 2xl:left-[20%]"
      fill="var(--blue-7)"
      client:only="react"
    />
    <div class="relative z-10 mx-auto w-full max-w-7xl p-4 pt-20 md:pt-0">
      <BlurIn
        word="UI Engineer"
        client:load
        className="bg-gradient-to-b from-[--gray-a12] to-[--gray-a7] bg-clip-text text-transparent drop-shadow-2xl md:h-[84px]"
      />
      <p
        class="mx-auto mt-4 max-w-lg text-center text-base font-normal text-[--gray-11]"
      >
        Crafting beautiful, functional, and <span class="text-[--blue-11]"
          >delightful</span
        > digital experiences
      </p>
    </div>
  </div>

  <BentoGrid />

  <MovingCards />

  <ContactSection />
</BaseLayout>
