---
import Layout from "@layouts/PageLayout.astro";
import { fetchPortfolioItems } from "@utils/portfolio";
import Projects from "~/components/widgets/portfolio/projects.astro";
import PortfolioItem from "~/components/widgets/portfolio/portfolioItem.astro";

import { SITE } from "@config";

const title = `Portfolio - ${SITE.name}`;
const description = "Joshua Booth's Work Portfolio";

const portfolio = await fetchPortfolioItems();
---

<Layout meta={{ title, description }}>
  <main class="container max-w-4xl mx-auto px-8 mb-8">
    <h1 class="text-3xl font-semibold mt-12 mb-4 dark:text-gray-100">
      Portfolio
    </h1>
    <h2 class="text mb-8 dark:text-gray-200">
      The following is a collection of my web and mobile app design work.
    </h2>

    <div class="flex flex-col gap-8 pt-8 pb-6">
      <div class="flex flex-row gap-8 items-center">
        <h3 class="text-2xl font-semibold dark:text-gray-200">Projects</h3>
        <hr class="border-gray-50 w-full dark:border-gray-700" />
      </div>

      <Projects />
    </div>

    <div class="flex flex-col gap-8 pt-8">
      <div class="flex flex-row gap-8 items-center">
        <h3 class="text-2xl font-semibold dark:text-gray-200">Designs</h3>
        <hr class="border-gray-50 w-full dark:border-gray-700" />
      </div>

      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 pb-12">
        {
          portfolio.map((item) => {
            return <PortfolioItem item={item} />;
          })
        }
      </ul>
    </div>
  </main>
</Layout>
