---
import Layout from "@layouts/PageLayout.astro";
import { fetchPortfolioItems } from "@utils/portfolio";
import Picture from "@components/core/Picture.astro";
import PortfolioItem from "~/components/widgets/portfolio/portfolioItem.astro";

import { SITE } from "@config";

const title = `Portfolio - ${SITE.name}`;
const description = "Joshua Booth's Work Portfolio";

const portfolio = await fetchPortfolioItems();
---

<Layout meta={{ title, description }}>
  <main class="container max-w-4xl mx-auto px-8 mb-8">
    <h1 class="text-3xl font-semibold mt-12 mb-4 dark:text-gray-100">
      Portfolio
    </h1>
    <h2 class="text mb-8 dark:text-gray-200">
      The following is a collection of my web and mobile app design work.
    </h2>

    <div class="flex flex-col gap-8 pt-8">
      <div class="flex flex-row gap-8 items-center">
        <h3 class="text-2xl font-semibold dark:text-gray-200">Projects</h3>
        <hr class="border-gray-50 w-full dark:border-gray-700" />
      </div>

      <div
        class="w-full border border-gray-100/40 rounded-md mb-4 p-5 flex flex-row gap-4 justify-between pl-8 items-center dark:border-gray-600"
      >
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            <h3 class="text-3xl font-semibold dark:text-gray-100">
              The PCOS Protocol
            </h3>
            <p class="text-sm text-gray-400 dark:text-gray-300">
              A course web app designed to provide support and resources for
              women with Polycystic Ovary Syndrome (PCOS).
            </p>
          </div>
          <!-- <a
            href="#"
            class="border border-gray-100 from-gray-100 to-white rounded-md text-sm text-gray-700 px-6 py-1.5 w-fit dark:text-gray-200"
            >View Case Study</a
          > -->
        </div>
        <Picture
          src={import(
            "~/assets/images/designs/the-pcos-protocol/knowledgebase.jpg"
          )}
          widths={[372]}
          class="bg-gray-400 h-full rounded border border-gray-50 dark:bg-gray-700"
          aspectRatio="16:10"
        />
      </div>

      <!-- <div
        class="w-full border border-gray-100/40 rounded-md mb-4 p-5 flex flex-row gap-4 justify-between pl-8 items-center dark:border-gray-600"
      >
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            <h3 class="text-3xl font-semibold dark:text-gray-100">
              Equipped Youth Manual
            </h3>
            <p class="text-sm text-gray-400 dark:text-gray-300">
              Web app that offers resources for Christian youth to strengthen
              their faith and grow spiritually.
            </p>
          </div>
          <a
            href="#"
            class="border border-gray-100 from-gray-100 to-white rounded-md text-sm text-gray-700 px-6 py-1.5 w-fit dark:text-gray-200"
            >View Case Study</a
          >
        </div>
        <Picture
          src={import(
            "~/assets/images/designs/equipped-youth-manual/Encourage.png"
          )}
          widths={[300, 400]}
          sizes="(max-width: 900px) 400px, 900px"
          class="bg-gray-400 rounded border border-gray-50 dark:bg-gray-700"
          aspectRatio="5:3"
        />
      </div> -->
    </div>

    <div class="flex flex-col gap-8 pt-8">
      <div class="flex flex-row gap-8 items-center">
        <h3 class="text-2xl font-semibold dark:text-gray-200">Designs</h3>
        <hr class="border-gray-50 w-full dark:border-gray-700" />
      </div>

      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 pb-12">
        {
          portfolio.map((item) => {
            return <PortfolioItem item={item} />;
          })
        }
      </ul>
    </div>
  </main>
</Layout>
