---
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";

import { InfiniteMovingCards } from "@/components/home/infinite-moving-cards";

const portfolioCollection = await getCollection("portfolio");
const filteredItems = portfolioCollection.filter(
  (item) => item.data.showInHome
);

const portfolioItems = await Promise.all(
  filteredItems.map(async (item) => {
    const optimizedImage = await getImage({
      src: item.data.image,
      width: 512,
      height: 512,
    });
    return {
      title: item.data.title,
      description: item.data.description,
      image: optimizedImage.src,
      link: item.data.link,
    };
  })
);
---

<div
  class="relative flex h-128 flex-col items-center justify-center overflow-hidden rounded-md bg-(--gray-1) antialiased"
>
  <InfiniteMovingCards
    items={portfolioItems}
    direction="right"
    speed="slow"
    client:idle
  />
</div>
