---
import Picture from "@components/core/Picture.astro";
import { findImage } from "@utils/images";

const { item } = Astro.props;

const image = await findImage(item.image);
---

<div
  class="relative rounded before:content-[''] before:rounded before:absolute before:inset-0 before:bg-white before:bg-opacity-20 dark:before:bg-gray-900"
>
  <a href={item.link} target="_blank" rel="noopener noreferrer">
    <Picture
      src={image}
      class="w-full rounded-md shadow bg-gray-200 dark:bg-gray-700"
      widths={[250, 250]}
      alt={item.title}
      aspectRatio="1"
    />
  </a>
</div>
