---
import "@assets/styles/base.css";

import Header from "@components/widgets/Header.astro";
import Footer from "@components/widgets/Footer.astro";
import MetaTags from "@components/core/MetaTags.astro";
import BasicScripts from "@components/core/BasicScripts.astro";

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags title={title} description={description} image={image} />
  </head>

  <body
    class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900 font-albert-sans"
  >
    <Header />
    <slot />
    <Footer />

    <BasicScripts />
  </body>
</html>
